@import "../public/public.less";
@import "../public/theme.less";
.building {
  //   全部商品分类
  .banner {
    .width-1260-center;
    margin-top: 43.3px;
    .banner-classify {
      width: 240px;
      height: 40px;
      background-color: #49cbcd;
      position: relative;
      .ios-arrow-down {
        font-size: 18px;
        color: white;
        padding-left: 50px;
        line-height: 40px;
      }
      p.classify-title {
        font-size: 16px;
        color: #ffffff;
        margin-left: 32px;
      }
      .banner-dropdown {
        width: 240px;
        height: 601px;
        background-color: #485460;
        z-index: 99;
        position: absolute;
        left: 0;
        top: 39px;
        display: none;
        ul {
          padding-top: 24px;
          position: relative;
          li {
            font-size: 14px;
            color: #ffffff;
            width: 240px;
            height: 40px;
            padding-left: 32px;
            .menu-content {
              line-height: 40px;
            }
            .ios-arrow-right {
              padding-left: 92px;
              font-size: 18px;
            }
            .ios-right {
              padding-left: 63px;
              font-size: 18px;
            }
            .menu-list {
              width: 1020px;
              height: 601px;
              box-sizing: border-box;
              padding: 42px 42px 0 40px;
              background: #fff;
              position: absolute;
              border: 1px solid #999;
              border-left: none;
              display: none;
              left: 240px;
              top: 0;
              color: #364049;

              .item {
                margin-bottom: 40px;
              }
              .title {
                padding-bottom: 16px;
              }
              .list {
                overflow: hidden;
                span {
                  float: left;
                  margin-right: 40px;
                  margin-bottom: 4px;
                }
              }
              span:hover {
                color: @activeColor;
              }
            }
          }
          li:hover {
            background: @activeColor;
            .menu-list {
              display: block;
            }
          }
        }
      }
    }
    .banner-classify:hover {
      .banner-dropdown {
        display: block;
      }
    }

    .menu {
      position: relative;
      ul {
        overflow: hidden;
        position: absolute;
        left: 250px;
        top: -32px;
        cursor: pointer;
        li {
          float: left;
          padding-left: 36px;
          font-size: 16px;
          color: #364049;
        }
        li:hover {
          color: #49cbcd;
        }
      }
    }
  }
  // 轮播图
  .ivue-banner {
    height: 600px;
    .ivu-carousel-dots {
      li {
        button {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          margin: 0 5px;
        }
      }
      .ivu-carousel-active {
        button {
          background-color: @activeColor;
        }
      }
    }
    .ivu-carousel-dots-inside {
      bottom: 46px;
    }
  }

  //瓷砖
  .ware-box {
    background: #f5f5f5;
    margin-bottom: 56px;
    .ware {
      .width-1260-center;
      padding-bottom: 56px;
      .category {
        padding-top: 56px;

        .title {
          overflow: hidden;
          margin-bottom: 20px;
          .title-text {
            font-size: 24px;
            float: left;
            color: #364049;
          }
          .more {
            float: right;
            font-size: 16px;
            color: #788492;
            i {
              position: relative;
              top: 1px;
            }
            .ios-more-right {
              font-size: 18px;
              margin-left: 10px;
              margin-right: -6px;
            }
            .ios-right {
              font-size: 18px;
              padding-left: 1px;
            }
          }
        }
        .title:hover {
          .more {
            color: #49cbcd;
          }
        }
        .category-list {
          overflow: hidden;

          .class {
            position: relative;
            width: 236px;
            height: 354px;
            float: left;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            span {
              position: absolute;
              left: 88px;
              top: 94px;
              font-size: 30px;
              color: #364049;
            }
            p {
              position: absolute;
              left: 62px;
              top: 141px;
              font-size: 14px;
              color: #485460;
            }
          }
          .smallclass {
            position: relative;
            width: 236px;
            height: 354px;
            float: left;
            margin-left: 20px;
            background-color: #ffffff;
            .smallclass-picture {
              width: 236px;
              height: 236px;
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center;
            }
            .name {
              padding-top: 24px;
              font-size: 18px;
              color: #364049;
              text-align: center;
            }
            .number {
              font-size: 12px;
              color: #788492;
              text-align: center;
            }
            .price {
              font-size: 14px;
              color: #fc6532;
              text-align: center;
              padding-top: 10px;
            }
            .smallclass-mask {
              position: absolute;
              left: 0;
              bottom: -60px;
              width: 236px;
              height: 60px;
              transition: 0.2s linear all;
              background-color: #49cbcd;
              font-size: 12px;
              color: #ffffff;
              padding-left: 12px;
              padding-top: 10px;
              .model {
                margin-bottom: 6px;
              }
            }
          }
          .smallclass:hover {
            .smallclass-mask {
              bottom: 0;
            }
            .number {
              color: #ffffff;
            }
          }
        }
      }
    }
  }
}
