@import "../public/public.less";
@import "../public/theme.less";
.index {
  .head {
    .width-1260-center;
    position: relative;
    overflow: hidden;
    .head-logo {
      width: 92px;
      height: 92px;
      float: left;
      margin-top: 34.1px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .head-search {
      width: 400px;
      height: 36px;
      border: 1px solid #788492;
      border-radius: 100px;
      float: right;
      margin-top: 58px;
      input {
        width: 100%;
        height: 100%;
        display: inline-block;
        border: none;
        margin: 0 20px;
        outline: none;
        background: transparent;
      }
      .head-ios-search {
        position: absolute;
        left: 1220px;
        top: 66px;
        font-size: 20px;
        font-weight: normal;
      }
    }
    // input:focus {
    //   border: 1px solid #49cbcd;
    // }
  }
  //   全部商品分类
  .banner {
    .width-1260-center;
    margin-top: 43.3px;
    .banner-classify {
      width: 240px;
      height: 40px;
      background-color: #49cbcd;
      position: relative;
      .ios-arrow-down {
        font-size: 18px;
        color: white;
        padding-left: 50px;
        line-height: 40px;
      }
      p {
        font-size: 16px;
        color: #ffffff;
        margin-left: 32px;
      }
      .banner-dropdown {
        width: 240px;
        height: 601px;
        background-color: #485460;
        z-index: 99;
        position: absolute;
        left: 0;
        top: 39px;
        display: none;
        ul {
          padding-top: 24px;
          position: relative;
          li {
            font-size: 14px;
            color: #ffffff;
            width: 240px;
            height: 40px;
            padding-left: 32px;
            line-height: 40px;
            .ios-arrow-right {
              padding-left: 92px;
              font-size: 18px;
            }
            .ios-right {
              padding-left: 63px;
              font-size: 18px;
            }
            .menu-list {
              width: 1020px;
              height: 601px;
              box-sizing: border-box;
              padding: 42px 0 0 40px;
              background: #fff;
              position: absolute;
              border: 1px solid #999;
              border-left: none;
              display: none;
              left: 240px;
              top: 0;
              div.item {
                float: left;
                height: 72px;
                line-height: 72px;
                color: #364049;
                margin-right: 76px;
                margin-bottom: 40px;
                img {
                  width: 72px;
                  height: 72px;
                  margin-right: 14px;
                  vertical-align: middle;
                }
              }
              div.item:hover {
                color: @activeColor;
              }
            }
          }
          li:hover {
            background: @activeColor;
            .menu-list {
              display: block;
            }
          }
        }
      }
    }
    .banner-classify:hover {
      .banner-dropdown {
        display: block;
      }
    }

    .menu {
      position: relative;
      ul {
        overflow: hidden;
        position: absolute;
        left: 250px;
        top: -32px;
        cursor: pointer;
        li {
          float: left;
          padding-left: 36px;
          font-size: 16px;
          color: #364049;
        }
        li:hover {
          color: #49cbcd;
        }
      }
    }
  }

  // 轮播图
  .ivue-banner {
    height: 600px;
    .ivu-carousel-dots {
      li {
        button {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          margin: 0 12px;
        }
      }
    }
    .ivu-carousel-dots-inside {
      bottom: 46px;
    }
  }

  //   家居商品
  .good-box {
    background-color: #f5f5f5;
    margin-bottom: 56px;
    padding-bottom: 56px;
    .goods {
      .width-1260-center;
      padding-top: 56px;
      .goods-title {
        .goods-headline {
          font-size: 24px;
          color: #364049;
        }
      }
      .goods-more {
        font-size: 16px;
        color: #788492;
        float: right;
        cursor: pointer;
        .goods-added {
          margin-right: 6px;
        }
        .goods-added-ios {
          margin-right: -5px;
          font-size: 18px;
          vertical-align: middle;
        }
      }
      .goods-more:hover {
        color: #49cbcd;
      }
      .goods-list {
        margin-top: 20px;
        overflow: hidden;

        .good-list-left {
          float: left;
          height: 728px;
          width: 236px;
          position: relative;
          img {
            height: 728px;
            width: 236px;
          }
          .goods-list-title {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            padding-top: 184px;

            span {
              font-size: 30px;
              color: #364049;
              font-weight: bold;
              margin-top: 245px;
            }
            p {
              font-size: 14px;
              color: #485460;
              margin-top: 4px;
            }
            .goods-price {
              font-size: 22px;
              color: #fc6532;
              margin-top: 16px;
            }
          }
        }
        .good-list-right {
          float: right;
          width: 1024px;
          height: 354px;
          position: relative;
          .good-picture {
            float: left;
            margin: 0 0 20px 20px;
            height: 354px;
            width: 236px;
            // background-color: pink;
            position: relative;
            overflow: hidden;
            img {
              width: 100%;
              display: block;
            }
            .good-title {
              text-align: center;
              background-color: #ffffff;
              width: 236px;
              height: 354px;
              p {
                font-size: 18px;
                color: #364049;

                padding-top: 18px;
              }
              .model {
                font-size: 12px;
                color: #788492;
              }
            }

            .good-mask {
              position: absolute;
              left: 0;
              bottom: -60px;
              width: 236px;
              height: 60px;
              transition: 0.2s linear all;
              background-color: #49cbcd;
              cursor: pointer;
              padding-left: 16px;

              p {
                font-size: 12px;
                color: #ffffff;
                padding-top: 10px;
              }
              span {
                font-size: 12px;
                color: #ffffff;
                display: block;
                margin-top: 8px;
              }
            }
          }
          .good-picture:hover {
            .good-mask {
              bottom: 0;
            }
            .model {
              display: none;
            }
          }
        }
      }
    }
  }

  .null {
    margin-top: 65px;
    margin-bottom: 56px;
    // 首页搜索为空
    .empty {
      width: 100%;
      height: 591px;
      background-color: #f5f5f5;
      text-align: center;
      .empty-image {
        padding-top: 190px;
      }
      .empty-cue {
        margin-top: 20px;
        p {
          font-size: 14px;
          color: #788492;
        }
        span {
          font-size: 14px;
          color: #181c1f;
        }
      }
    }
  }
}
