@import "../public/public.less";
@import "../public/theme.less";
//   // 个人中心左边
.personal {
    .width-1260-center;
    .head-content {
        overflow: hidden;
        margin-top: 56px;
        .head-left {
            float: left;
            width: 96px;
            margin-right: 84px;
            cursor: pointer;
            p {
                font-size: 24px;
                color: #364049;
            }
            .head-bottom {
                padding-top: 20px;
                text-align: center;
                ul {
                    li {
                        padding-bottom: 18px;
                        font-size: 16px;
                        color: #364049;
                        a.router-link-active {
                            color: #49cbcd;
                        }
                    }
                }
                li:hover {
                    color: #49cbcd;
                }
            }
        }
        // 个人中心右边
        .head-right {
            float: left;
            width: 1080px;
        }
    }
}
