@import "../public/public.less";
@import "../public/theme.less";
.personal {
  .head-left {
    .width-1260-center;
    margin-top: 56px;
    p {
      font-size: 24px;
      color: #364049;
      padding-bottom: 20px;
    }
    .head-bottom {
      text-align: center;
      ul {
        width: 96px;
        text-align: center;
        li {
          font-size: 16px;
          color: #364049;
          padding-bottom: 18px;
        }
        li:hover {
          color: #49cbcd;
        }
      }
    }
  }
}
