@import "../public/public.less";
.submitorder {
    .width-1260-center;
    // 状态显示栏
    .state {
        width: 536px;
        height: 77px;
        margin: 0 auto;
        .state-head {
            overflow: hidden;
            font-size: 16px;
            text-align: center;
            span:first-child {
                float: left;
            }
            span:last-child {
                float: right;
            }
        }
        .plan {
            width: 504px;
            height: 32px;
            margin: 0 auto;
            margin-top: 18px;
            overflow: hidden;
            position: relative;
            .plan-all {
                width: 26px;
                height: 26px;
                text-align: center;
                border-radius: 50%; 
                background-color: #49cbcd;
                span {
                    color: #fff;
                    line-height: 26px;
                }
            }
            .plan-first {
                float: left;
            }
            .plan-second {
                float: left;
                margin-left: 212px;
            }
            .plan-three {
                float: left;
                margin-left: 212px;
            }
            .plan-line {
                width: 190px;
                height: 1px;
                background-color: #e9eaec;
                position: absolute;
                top: 45%;
                left: 36px;
            }
            .line-second {
                margin-left: 240px;
            }
            .line-three {
                left: 514px;
            }
        }
    }
    //收货地址
    .goodsaddress {
        margin-top: 56px;
        overflow: hidden;
        .bpother {
            overflow: hidden;
        }
        .addressshow {
            position: relative;
            float: left;
            width: 358px;
            height: 160px;
            margin-right: 56px;
            margin-bottom: 28px;
            overflow: hidden;
            img {
                position: absolute;
                left: 0;
                top: 0;
            }
            .addressconent {
                width: 298px;
                height: 108px;
                position: absolute;
                left: 50%;
                margin-left: -149px;
                top: 50%;
                margin-top: -54px;
                padding-right: 2px;
                p {
                    font-size: 20px;
                }
                .tower {
                    font-size: 14px;
                    margin-top: 6;
                }
            }
            // 默认地址
            .default {
                position: absolute;
                top: 0;
                right: 0;
                width: 88px;
                height: 28px;
                line-height: 28px;
                text-align: center;
                color: #8898AB;
                font-size: 14px;
                background: rgba(136,152,171,0.2);
            }
            .bj {
                position: absolute;
                font-size: 20px;
                bottom: 18px;
                right: 22px;
                cursor: pointer;
            }
        }
        // 管理收货地址
        .manage {
            width: 280px;
            height: 20px;
            overflow: hidden;
            font-size: 14px;
            span {
                float: left;
                margin-right: 40px;
                cursor: pointer;
            }
            .green {
                color: #49CBCD;
            }
        }
    }
    //确认订单信心
    h2 {
        margin:56px 0;
    }
    // 商品
    .merchandise {
        margin-top: 20px;
        margin-bottom: 56px;
        .goodsname {
            margin-left: 20px;
            font-size: 16px;
            .toptwo {
                margin-right: 20px;
            }
        }
        // 商品详情
        .mer-conter {
            margin-top: 20px;
            .mer-head {
                width: 100%;
                height: 50px;
                background-color: #8898AB;
                color: #FFFFFF;
                .distance {
                    overflow: hidden;
                    line-height: 50px;
                    font-size: 14px;
                    font-weight: 600;
                    text-align: center;
                    li {
                        float: left;
                    }
                    li:first-child {
                        width: 376px;
                    }
                    li:nth-child(2) {
                        width: 172px;
                    }
                    li:nth-child(3) {
                        width: 210px;
                    }
                    li:nth-child(4) {
                        width: 88px;
                    }
                    li:last-child {
                        width: 210px;
                    }
                }
            }
            .mer-body {
                width: 100%;
                height: 140px;
                background:rgba(136,152,171,0.2);
                ul {
                    height: 140px;
                    overflow: hidden;
                    font-size: 14px;
                    font-weight: 600;
                    color: #485460;
                    li {
                        float: left;
                    }
                    li:first-child {
                        width: 376px;
                        height: 140px;
                        position: relative;
                    img {
                        position: absolute;
                        width: 100px;
                        height: 100px;
                        top: 50%;
                        margin-top: -50px;
                        left: 54px;
                    }
                    .picthree {
                        position: absolute;
                        top: 50%;
                        margin-top: -8px;
                        left: 20px;
                    }
                    p {
                        position: absolute;
                        width: 160px;
                        top: 40px;
                        left: 170px;
                        overflow:hidden;   
                        text-overflow:ellipsis;  
                        display:-webkit-box;   
                        -webkit-box-orient:vertical;  
                        -webkit-line-clamp:3;   
                    }
                        
                    }
                    li:nth-child(2) {
                        width: 172px;
                        text-align: center;
                        line-height: 140px;
                    }
                    li:nth-child(3) {
                        width: 210px;
                        text-align: center;
                        line-height: 140px;
                    }
                    li:nth-child(4) {
                        width: 88px;
                        text-align: center;
                        line-height: 140px;
                    }
                    li:nth-child(5) {
                        width: 210px;
                        color: #FC6532;
                        text-align: center;
                        line-height: 140px;
                    }
                    li:nth-child(6) {
                        width: 204px;
                        text-align: center;
                        line-height: 140px;
                        span {
                            cursor: pointer;
                        }
                        
                    }
                }
            }
            .mer-body:nth-child(2n-1) {
                background-color: #F5F5F5;
            }
            // 备注部分
            .remark {
                box-sizing: border-box;
                padding: 52px 20px;
                .remark-content {
                    width: 100%;
                    height: 36px;
                    line-height: 36px;
                    font-size: 14px;
                    span {
                        color: #8898AB;
                    }
                    .input {
                        width: 400px;
                        height: 36px;
                        color: #8898AB;
                        padding-left: 10px;
                        .ivu-input {
                            background: rgba(0, 0, 0, 0);
                            border: 1px solid #788492;
                        }
                    }
                    .dphj {
                        color: #485460;
                        margin-left: 347px;
                    }
                    .hj-mo {
                        font-size: 28px;
                        color: #FC6532;
                    }
                }
            }
        }
    }
    // 底部合计
    .mer-foot {
        width: 100%;
        height: 150px;
        margin-top: 66px;
        margin-bottom: 56px;
        overflow: hidden;
        .mer-total {
            width: 350px;
            height: 100%;
            float: right;
            overflow: hidden;
            .mer-money {
                height: 40px;
                // float: right;
                font-size: 14px;
                color: #485460;
                line-height: 40px;
                span:nth-child(2) {
                    color: #FC6532;
                }
                p {
                    float: left;
                    margin-left: 88px;
                }
                .fontbig {
                    float: right;
                    font-size: 28px;
                    margin-left: 20px;
                }  
            }
            .coding {
                width: 100%;
                height: 40px;
                margin-bottom: 18px;
                overflow: hidden;
                line-height: 40px;
                input {
                    width: 160px;
                    height: 40px;
                    float: right;
                    padding-left:10px; 
                }
                span {
                    margin-left: 20px;
                }
            }
            .close {
                width: 120px;
                height: 36px;
                background-color: #49CBCD ;
                text-align: center;
                line-height: 36px;
                float: right;
                margin-top: 18px;
                color: #fff;
                cursor:pointer;
            }
        }
    }
       
    // 删除弹框窗口背景
    .wicket-bg {
        width:100%;  
        height:100%;  
        background:rgba(0,0,0,0.3); 
        position:fixed;  
        left:0px;  
        top:0px;    
        z-index:1000; 
            // 删除弹框
            .delzezel {
            position: fixed;
            width: 410px;
            height: 250px;
            border-radius: 4px;
            top: 50%;
            margin-top: -125px;
            left: 50%;
            margin-left: -205px;
            z-index: 99;
            box-shadow: 0 0 5px 0;
            background: #FFFFFF;
            .wicket-head {
                width: 100%;
                line-height: 26px;
                box-sizing: border-box;
                padding: 15px;
                overflow: hidden;
                color: #788492;
                font-size: 14px;
                span {
                    float: left;
                }
                .icon-close {
                    font-size: 26px;
                    float: right;
                    cursor: pointer;
                }
            }
            .wicket-cen {
                width: 188px;
                height: 24px;
                line-height: 24px;
                margin: 0 auto;
                margin-top: 46px;
                overflow: hidden;
                img {
                    float: left;
                }
                span {
                    font-size: 16px;
                    color: #788492;
                    margin-left: 20px;
                }
            }
            .wicket-choose {
                position: absolute;
                width: 100%;
                height: 60px;
                left: 0;
                bottom: 0;
                overflow: hidden;
                line-height: 60px;
                text-align: center;
                color: #fff;
                cursor: pointer;
                .choose-calloff {
                    float: left;
                    width: 50%;
                    background-color: #788492;
                }
                .choose-confirm {
                    float: right;
                    width: 50%;
                    background-color: #fff;
                    background-color: #49CBCD;
                }
            }
        }
    }
}
